<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.pkf.SimpleShop"
        version     = "1.0.0" >

    <name>Simple Shop</name>

    <description>
        A simple store front example.
    </description>

    <author href="https://github.com/ProfessorKevinForbes/Simple-Shop" email="professorkevinforbes@gmail.com">
        Kevin Forbes
    </author>

	<gap:platform name="ios" />
	<gap:platform name="android" />


</widget>